<mat-card>
    <mat-card-title>System Upgrade</mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>

    <mat-card-content>
        <form class="">
            <mat-form-field class="">
              <mat-label>System Name</mat-label>
              <input matInput [formControl]="NewSystemForm" [errorStateMatcher]="matcher"
                     placeholder="Insert System Identifier">
              <mat-hint></mat-hint>
              <mat-error *ngIf="NewSystemForm.hasError() && !NewSystemForm.hasError('required')">
                Please enter a valid system name 
              </mat-error>
              <mat-error *ngIf="NewSystemForm.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>
    </mat-card-content>  
    <mat-card-actions class="flex action-buttons">
        <button mat-button (click)="SubmitNewSystem()">Submit</button>
      </mat-card-actions>
</mat-card>